<form>
    <mat-form-field class="searchbar">
        <mat-label>Search Car</mat-label>
        <input type="text" matInput [formControl]="roomname" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
            (optionSelected)='autoCompleteSelected($event.option.value)' [displayWith]="displayFn">
            <mat-option *ngFor="let room of filteredOptions | async" [value]="room">
                {{room.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>