<mat-toolbar color="primary" class="toolbar">
    <span><a routerLink="/">{{headerTitle}}</a></span>
    <form>
        <mat-form-field class="searchbarformfield">
            <mat-label>Search Room</mat-label>
            <input type="text" matInput [formControl]="roomname" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)='autoCompleteSelected($event.option.value)' [displayWith]="displayFn">
                <mat-option *ngFor="let room of filteredOptions | async" [value]="room">
                    {{room.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <span class="spacer"></span>

    <ul>
        <li>
            <a mat-button routerLinkActive="mat-accent" (click)="onCreateEventClick()">Create Event</a>
        </li>
        <li>
            <a mat-button routerLinkActive="mat-accent" (click)="onLoginClick()">Login</a>
        </li>
    </ul>
</mat-toolbar>