ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: contents;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.searchbarformfield {
    padding: 5%;
    margin-top: 1.5rem;
    width: 100%;
}