<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onEdit(editUserForm)" [formGroup]="editUserForm" *ngIf="!isLoading">
    <div>
      <mat-form-field>
        <input matInput placeholder="Email-Address (Required)" formControlName="email">
        <mat-error *ngIf="editUserForm['controls'].email.hasError('email')">Please enter a valid Email.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput name="oldPassword" formControlName="oldPassword" [type]="hideOld ? 'password' : 'text'"
          placeholder="Password (Required)">
        <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="editUserForm['controls'].oldPassword.hasError('minlength')">Must be at least 8 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="input" placeholder="New Username" formControlName="username">
        <mat-error *ngIf="editUserForm['controls'].username.hasError('minlength')">Must be at least 5 characters
        </mat-error>
        <mat-error *ngIf="editUserForm['controls'].username.hasError('maxlength')">Must shorter than 12 characters
        </mat-error>
        <mat-error *ngIf="editUserForm['controls'].username.hasError('pattern')">Username must be alphanumeric
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput name="password" formControlName="password" [type]="hideMain ? 'password' : 'text'"
          placeholder="New password">
        <mat-icon matSuffix (click)="hideMain = !hideMain">{{hideMain ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="editUserForm['controls'].password.hasError('minlength')">Must be at least 8 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="confirmPassword" [type]="hideRep ? 'password' : 'text'"
          placeholder="Confirm password" [errorStateMatcher]="matcher">
        <mat-icon matSuffix (click)="hideRep = !hideRep">{{hideRep ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="editUserForm.hasError('notSame')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </div>
    <button *ngIf="!isLoading" color="primary" mat-raised-button type="submit">Submit</button>
  </form>
</mat-card>